@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#121212] text-gray-200 overflow-hidden;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444; 
}
